$text-color:        #fff;
$background-color:  #9b59b6;
$colors: (
  primary:    #32db64,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);
.ios, .md {

    page-quiz2 {
     


    }

}