page-home {
$background-color:  #74efc4;
}
.ios, .md {
     button {
                font-size: 1.3em;
                font-weight: bold;
                center{
     text-align:center;
}
                
            }
            .start-slide {
            justify-content: center;
            align-items: center;
        }
}
